.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Lato, Helvetica Neue, Arial, Helvetica, sans-serif;
}

input {
  font-size: 100%;
  line-height: 1.2em;
  width: 300px;
  padding: 0.75em 1em;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.5em;
  outline: none;
}

input::placeholder {
  color: #bccde5;
}

.github-logo {
  margin-right: 3px;
  width: 22px;
  vertical-align: sub;
}

.url {
  text-decoration: none;
  color: #3e82be;
  font-weight: bold;
}
